@import '../../../node_modules/github-markdown-css/github-markdown-light.css';

.markdown-body {
  width: 100%;
  font-size: 1.1rem;
}

@media (max-width: 991px) {
  .markdown-body {
    font-size: 1rem;
  }
}