{
	"experimentalTernaries": true,
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"plugins": [
		"prettier-plugin-tailwindcss"
	],
	"printWidth": 140
}
