@import '../global.css';

.project-card {
    width: 300px;
    color: var(--off-color);
}

.project-name {
    color: inherit;
    font-weight: 300;
    font-size: 1.5rem;
}

.project-description {
    color: var(--secondary-color);
    font-weight: 300;
    font-size: .8rem;
}