@import '../global.css';
@import '../../../node_modules/github-markdown-css/github-markdown-light.css';

@font-face {
	font-family: 'Consolas';
	src: url('/src/assets/fonts/CONSOLA.TTF');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Consolas';
	src: url('/src/assets/fonts/CONSOLAB.TTF');
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: 'Consolas', sans-serif;
	overflow-x: hidden;
	background-color: var(--background-color);
}

.container {
	h1 {
		color: var(--secondary-color);
		font-weight: bold;
		font-size: 1.2rem;
		margin: 0 0 1rem 0;
	}

	h2 {
		color: var(--secondary-color);
		font-weight: bold;
		font-size: 1rem;
		margin: 0 0 1rem 0;
	}

	h3 {
		color: var(--secondary-color);
		font-weight: bold;
		font-size: 1rem;
		margin: 0;
	}

	p {
		color: var(--secondary-color);
		margin-bottom: 1rem;
	}

	label {
		color: var(--secondary-color);
		font-weight: lighter;
	}

	p > a {
		color: var(--primary-color);
	}

	span {
		color: var(--secondary-color);
	}
}