@import '../global.css';

@font-face {
	font-family: 'Consolas';
	src: url('/src/assets/fonts/CONSOLA.TTF');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Consolas';
	src: url('/src/assets/fonts/CONSOLAB.TTF');
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: 'Consolas', sans-serif;
	overflow-x: hidden;
}

.container {
	h1 {
		color: var(--off-color);
		font-weight: bold;
		font-size: 1.2rem;
		margin: 0 0 1rem 0;
	}

	h2 {
		color: var(--off-color);
		font-weight: bold;
		font-size: 1rem;
		margin: 0 0 1rem 0;
	}

	h3 {
		color: var(--off-color);
		font-weight: bold;
		font-size: 1rem;
		margin: 0;
	}

	p {
		color: var(--secondary-color);
		margin-bottom: 1rem;
	}

	label {
		color: var(--ternary-color);
		font-weight: lighter;
	}

	p > a {
		color: var(--primary-color);
	}
}
