@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #66cc33;
	--off-color: #222222;
	--secondary-color: #333333;
	--ternary-color: #555555;
	--background-color: #ffffff;
}

.link {
	color: var(--secondary-color);
	font-weight: 300;
	text-decoration: none !important;
	transition: 0.2s;
}

.link:hover {
	color: var(--primary-color);
}

.link_active {
	color: var(--primary-color);
}

.primary-text {
	color: var(--primary-color);
}
