@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #66cc33;
	--secondary-color: #222222;
	--background-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--secondary-color: #cccccc;
		--background-color: #222222;
	}
}
